streamlit>=1.38,<2.0
ollama>=0.4.0,<1.0
pdf2image>=1.17,<2.0
Pillow>=10.4,<11.0
SQLModel>=0.0.22,<0.1.0
gspread>=6.1,<7.0
google-api-python-client>=2.140,<3.0
google-auth>=2.34,<3.0
google-auth-httplib2>=0.2,<1.0
APScheduler>=3.10,<4.0
